
<div class='container'>
<h1>Welcome to App1</h1>
<h1>This is the first page found in app/views/pages/home.html.erb- created by command</h1>
<p><u> <u> rails generated controller pages home</u> </u></p>
</div>
